body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0 !important;
}

@media only screen and (max-width:440px) {
    .logo {
        width: 49%;
        height: 82px;
    }
    /* nav {
        background-color: rgb(10, 145, 171);
        display: flex;
        justify-content: center;
        flex-direction: column;
    } */
    nav ul {
      display: none;
    }
    .show ul {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        height: 100vh;
        gap: 70px;
    }
    .contenedor_logo {
        text-align: center;
        align-items: center;
    }
    nav ul li {
        list-style: none;
        color: white;
        font-weight: bolder;
        font-size: 1rem;
        display: flex;
        justify-content:center;
        align-items:center;
    }
    nav ul li a {
       text-decoration: none;
       color:white;
    }
    nav ul li:hover {
        background-color:rgb(87, 87, 87);
    }
    
    .nav__toggle {
        color: yellow;
        font-size: 1.5rem;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 27px;
      }
      .show {
        right: 0;
        height: 100vh;
    }
    

    .contenedor h1 {
        color: white;
        text-align: center;
        font-size: 22px;
        font-weight: bolder;
    }
    .subtitulo {    
        color: white;
        text-align: center;
       font-weight: 100;
       font-size: 17px;
    }
    p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: larger;
        font-weight: bolder;
        color: rgb(179, 35, 35);
    }
    .btnAgregarYBorrar button, .btnEj {
        cursor:grab;
        height: 35px;
        width: 150px;
        border-radius: 10px;
        background-color: rgb(231, 195, 236);
        box-shadow: 0px 1px rgb(7, 7, 7);
        margin-top: 10px;
    }
    button:hover {
        background-color:white; 
    }
    /* INDEX */
    .contenedorIndexh1p {
     text-align: center;
     margin-top:20px;
    }
    .contenedorIndexh1p h1 {
        font-size: 2.2rem;
    }
    .contenedorIndexh1p p {
        font-size:1.2rem;
        color: #6c757d;
        font-weight:100;
    }
    .contenedorSorteos {
        display:flex;
        justify-content:center;
        flex-wrap:wrap;
    }
    .contenedorSorteos div{
    width:100%;    
    height:60px;
    border-radius:5px;
    font-size: 1.3rem;
    padding:15px;
    margin:30px 0 0 30px;
    }
    .contenedorSorteos div a {
        text-decoration: none;
        color:black;
        font-weight: 400;
    
    }
    .contenedorSorteos div:hover {
        background-color:rgb(236, 233, 233);
    }
    .contenedorSorteos button {
        border-radius: 8px;
        height:100%;
    }
    
    .svgIg {
        padding-right: 10px;
        color:#d93175;
        padding-left: 7px;
    }
    .btnIg {
        border:none;
        background-color: rgba(217, 48, 116, 0.102);
    }
    .btnIg:hover {
        background-color:rgba(217, 48, 116, 0.102)
    }
    .svgNombres {
        padding-right: 10px;
        color:rgb(155, 155, 20);
    }
    .btnNombres {
        border:none;
        background-color:rgb(245, 220, 158);
    }
    .btnNombres:hover {
       background-color:rgb(245, 220, 158);
    }
    .svgMoneda {
        
        color: rgb(165, 164, 164);
    }
    .btnMoneda {
        border:none;
        padding:10px;
        background-color:rgba(255, 217, 0, 0.877);
    }
    .btnMoneda:hover {
        background-color:rgba(255, 217, 0, 0.877);
    }
    .svgEquipo {
        color:green;
    }
    .btnEquipos {
        padding:15px;
        margin-right: 10px;
        border:none;
        background-color:rgba(209, 248, 150, 0.616);
    }
    .btnEquipos:hover {
        background-color:rgba(209, 248, 150, 0.616);
    }
    
    
    
    /* SORTEO INSTAGRAM */
    .contenedor {
        padding-top:5px ;
        height: 80vh;
        background-color: #f79a9a;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23FF0A0A'/%3E%3Cstop offset='1' stop-color='%23FF0CC3'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0a1b'/%3E%3Cstop offset='1' stop-color='%23fe00dc'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0a2c'/%3E%3Cstop offset='1' stop-color='%23f000eb'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0b3d'/%3E%3Cstop offset='1' stop-color='%23ce00e3'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0b4e'/%3E%3Cstop offset='1' stop-color='%23a900d5'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0b5e'/%3E%3Cstop offset='1' stop-color='%238800c8'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0b6f'/%3E%3Cstop offset='1' stop-color='%236a00ba'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0b80'/%3E%3Cstop offset='1' stop-color='%234e00ad'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0b91'/%3E%3Cstop offset='1' stop-color='%2336009f'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0ca2'/%3E%3Cstop offset='1' stop-color='%23210092'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0cb2'/%3E%3Cstop offset='1' stop-color='%230f0084'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23FF0CC3'/%3E%3Cstop offset='1' stop-color='%23007'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }
    .sorteoInstagram {
        font-size: 1.4rem;
        color: rgb(58, 56, 56);
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .participantesIg {
        display: flex;
        justify-self: start;
        margin-left: 2%;
    }
    .sorteoInstagram .participantes {
        color:white;
        text-transform: uppercase;
        font-size: 15px;
        display: flex;
        margin: 2%;
    }
    label {
        color: white;
        font-size: 20px;
    }
    .contenedorAreaYOpciones {
        display: flex;
        align-self: start;
        margin-left:3%;
        
    }
    .contenedorGanadores {
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        width: 60%;
    }
    .contenedorTextarea {
        display: flex;
        justify-content: flex-start;
        margin-top: 2%;
    }
    textarea {
        padding: 2px;
        width: 100%;
        height: 14em;
        font-size: 1rem;
        border-radius: 5px;
        box-shadow: inset 0 1px;
        background-color: rgb(255, 255, 255);
    }
    #btn-agregarUsuario, #btn-reset, #btn-resetNombres  {
        width:60%;
        height:45px;
        font-size: 0.9rem;
        color:rgb(85, 61, 85);
        font-weight: bold;
    }
    #ganadores {
        width: 70px;
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
    }

    .sortear {
        cursor:grab;
        width: 100%;
        margin-top: 40%;
        margin-left: -100px;
        height: 2.5em;
        font-size:1.3rem;
        border-radius: 10px;
        background-color: rgb(250, 236, 236);
        box-shadow: 0px 1px rgb(148, 145, 145);
        color:rgb(85, 61, 85);
        font-weight: bold;
    }
    .sortear:active, button:active {
        background-color:white; 
        transform: translateY(5px);
      }
    .ganador {
        position: sticky;
        margin-top: 16em;
    }
    #listado {
        color:white;
        font-size:1.5rem;
        display: flex;
        flex-wrap:wrap;
        overflow: hidden;
        margin-top: 10px;
    }
    #listado li {
        margin-left: 50px;
        list-style:none;
    
    }
    .borrarNombre {
        border:none;
        background-color:none !important;
        width: auto;
        margin-left: 20px;
        padding:auto;
    }
    /* MODAL INSTAGRAM */
    .modal-dialog {
        width:90%;
        margin-top: 10%;
    }
    .modal-header {
        margin-top: 20px;
        display:flex;
        justify-content:space-between;
    }
    .modal-tittle {
        margin-left: 20%;
    }
    .listaGanadores {
        font-size:2rem;
        margin-top: 5px;
        color:rgb(61, 53, 53);
    }
    
    .comoFunciona {
        margin-top:20px;
        display:flex;
        flex-direction:column;
        align-items:center;
        
    }
    .comoFunciona h1 {
        color: rgb(241, 79, 79);
        font-size:2rem;
        font-weight:bold;
    }
    .comoFunciona ol {
        font-size: 1.2rem;
    }
    .comoFunciona button {
    font-size: 1rem;
    }
    
    /* SORTEO NOMBRES */
    
    .contenedorNombres {
        padding-top: 4%;
        height: 81vh;
        background: linear-gradient(90deg,#ED2BA2,#8a2091);
    }
   
    .contenedorNombres h1 {
        color: white;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bolder;
        margin-bottom: 20px;
    }
    .textareaNombres {
        padding: 2px;
        width: 100%;
        height: 14em;
        font-size: 1rem;
        border-radius: 5px;
        box-shadow: inset 0 1px;
        background-color: rgb(255, 255, 255);
        margin-left:5% ;
    }
    .contenedorAreaYOpcionesNombres {
        display: flex;
        justify-content:center;
        /* margin-left:-550px; */
    }
    .listaGanadoresNombres {
        font-size:2rem;
        margin-top: 5px;
        color:rgb(61, 53, 53);
        text-transform: uppercase;
    }
    .btn-agregarNombreySortear {
        width:180px;
        height:50px;
        font-size: 1.2rem;
        margin-top: 20px;
        color:rgb(148, 50, 50);
        background-color: #f8c9d5;
        border-radius:20px;
        font-weight: bold;
    }
    /* SORTEO MONEDA */
    
    
    .tituloYsubMoneda {
        padding:80px 0 0 0;
        align-items:center;
        text-align:center;
    }
    .tituloYsubMoneda h2 {
    font-size:3rem;
    font-weight: bolder;
    color:black;
    }
    .tituloYsubMoneda p {
    color:gray;
    font-weight: 100;
    font-size: 1.2rem;
    }
    
    .cardBox, .cardBox2 {
        display: flex;
        justify-content: center;
        font-size: 1.2em;
        padding: 2% 0 0 1%;
        perspective: 800px;
        transition: all 0.3s ease 0s;
      }
      /* .cardBox:hover .card {
        transform: rotateY(180deg);
      } */
      .card, .card2 {
        display:none;
        color:white;
        cursor: default;
        height: 200px;
        border-radius: 50%;
        transform-style: preserve-3d;
        transition: transform 0.4s ease 0s;
        width: 20%;
        -webkit-animation: giro 1s 1;
        animation: giro 0.3s 10 linear;
      }
      .card .front,
    .card .back, .card2 .front2,
    .card2 .back2 {
      backface-visibility: hidden;
      box-sizing: border-box;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1.8em;
      height: 100%;
      padding: 0.8em;
      position: absolute;
      width: 100%;
    }
    
      .front {
          background-color: red;
          border-radius: 50%;
      }
      .back {
          background-color:rgb(44, 63, 126);
          border-radius: 50%;
      }
      .front2 {
          background-color:rgb(44, 63, 126);
          border-radius: 50%;
        }
        .back2 {
        background-color: red !important;
        border-radius: 50%;
        }  
      .card .back, .card2 .back2  {
        transform: rotateY( 180deg);
      }
      #tirarMoneda:active .card {
        transform: rotateY( 180deg);
      }
      @-webkit-keyframes giro {
        from {
          transform: rotateY( 380deg);
        }
        to {
          transform: rotateY( 180deg);
        }
      }
      
      @keyframes giro {
        from {
          transform: rotateY( 180deg);
        }
        to {
          transform: rotateY( 0deg);
        }
      }
      .contenedorTirarMoneda {
          display:flex;
          justify-content:center
    }
    #tirarMoneda {
        border-radius: 10px;
         position: absolute;
         top:90vh;
          width:170px;
          height:50px;
          background-color: #c48a8a;
          color: rgb(255, 255, 255);
          margin-top:10px;
      }
      #tirarMoneda:active{
          background-color: rgb(129, 77, 77);
      }
}
/* -------------------------------------------------------------------- */
@media only screen and (min-width: 440px) {

    .logo {
        width: 30%;
    }
    /* nav {
        width: 100%;
        background-color: rgb(10, 145, 171);
        display: flex;
        align-items: center;
    } */
    .nav__menu {
        width: 100%;
    }
    nav ul {
        display:flex;
        justify-content: center;
        height:50px;
    }
    .contenedor_logo {
        margin-left: 100px;
        width: 28%;
    }
    .contenedor_logo a {
        display: block;
    }
    nav ul li {
        list-style: none;
        color: white;
        font-weight: bolder;
        font-size: 1rem;
        display: flex;
        justify-content:center;
        align-items:center;
        width:100%;
    }
    nav ul li a {
        color: white;
    text-decoration: none;
    }
    nav ul li a:hover, nav ul li a:focus {
        color: white;
        text-decoration: none;
        padding-bottom: 3px;
        border-bottom: 3px solid red;
    }
  
    .nav__toggle {
        display: none;
    }
    
    .contenedor h1 {
        color: white;
        text-align: center;
        font-size: 34px;
        font-weight: bolder;
    }
    .subtitulo {    
        color: white;
        text-align: center;
       font-weight: 100;
    }
    p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: larger;
        font-weight: bolder;
        color: rgb(179, 35, 35);
    }
    .btnAgregarYBorrar button, .btnEj {
        cursor:grab;
        height: 35px;
        width: 150px;
        border-radius: 10px;
        background-color: rgb(231, 195, 236);
        box-shadow: 0px 1px rgb(7, 7, 7);
        margin-top: 10px;
    }
    button:hover {
        background-color:white; 
    }
    /* INDEX */
    .contenedorIndexh1p {
     text-align: center;
     margin-top:80px;
    }
    .contenedorIndexh1p h1 {
        font-size: 2.8rem;
    }
    .contenedorIndexh1p p {
        font-size:1.4rem;
        color: #6c757d;
        font-weight:100;
    }
    .contenedorSorteos {
        display:flex;
        justify-content:center;
        flex-wrap:wrap;
    }
    .contenedorSorteos div{
    width:28%;    
    height:60px;
    border-radius:5px;
    font-size: 1.4rem;
    padding:10px 0 10px 10px;
    margin:30px 0 0 30px;
    }
    .contenedorSorteos div a {
        text-decoration: none;
        color:black;
        font-weight: 400;
    
    }
    .contenedorSorteos div:hover {
        background-color:rgb(236, 233, 233);
    }
    .contenedorSorteos button {
        border-radius: 8px;
    }
    
    .svgIg {
        padding-right: 10px;
        color:#d93175;
        padding-left: 7px;
    }
    .btnIg {
        border:none;
        background-color: rgba(217, 48, 116, 0.102);
    }
    .btnIg:hover {
        background-color:rgba(217, 48, 116, 0.102)
    }
    .svgNombres {
        padding-right: 10px;
        color:rgb(155, 155, 20);
    }
    .btnNombres {
        border:none;
        background-color:rgb(245, 220, 158);
    }
    .btnNombres:hover {
       background-color:rgb(245, 220, 158);
    }
    .svgMoneda {
        
        color: rgb(165, 164, 164);
    }
    .btnMoneda {
        border:none;
        padding:10px;
        background-color:rgba(255, 217, 0, 0.877);
    }
    .btnMoneda:hover {
        background-color:rgba(255, 217, 0, 0.877);
    }
    .svgEquipo {
        color:green;
    }
    .btnEquipos {
        padding:15px;
        margin-right: 10px;
        border:none;
        background-color:rgba(209, 248, 150, 0.616);
    }
    .btnEquipos:hover {
        background-color:rgba(209, 248, 150, 0.616);
    }
    
    .info {
        border: none;
        background: none;
    }
    .info:hover {
        background: none;
        transform: scale(1.1);
    }
    .info svg {
        width: 18px;
        height:30px;
    }
    
    /* SORTEO INSTAGRAM */
    .contenedor {
        padding-top: 40px;
        height: 81vh;
        background-color: #f79a9a;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23FF0A0A'/%3E%3Cstop offset='1' stop-color='%23FF0CC3'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0a1b'/%3E%3Cstop offset='1' stop-color='%23fe00dc'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0a2c'/%3E%3Cstop offset='1' stop-color='%23f000eb'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0b3d'/%3E%3Cstop offset='1' stop-color='%23ce00e3'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0b4e'/%3E%3Cstop offset='1' stop-color='%23a900d5'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0b5e'/%3E%3Cstop offset='1' stop-color='%238800c8'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0b6f'/%3E%3Cstop offset='1' stop-color='%236a00ba'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0b80'/%3E%3Cstop offset='1' stop-color='%234e00ad'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0b91'/%3E%3Cstop offset='1' stop-color='%2336009f'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0ca2'/%3E%3Cstop offset='1' stop-color='%23210092'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0cb2'/%3E%3Cstop offset='1' stop-color='%230f0084'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23FF0CC3'/%3E%3Cstop offset='1' stop-color='%23007'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }
    .sorteoInstagram {
        font-size: 2rem;
        color: rgb(58, 56, 56);
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .participantesIg {
        margin-left: -650px;
    }
    .sorteoInstagram .participantes {
        color:white;
        text-transform: uppercase;
        font-size: 15px;
    }
    .participantes {
        margin-left:-550px;
    }
    label {
        color: white;
        font-size: 20px;
    }
    .contenedorAreaYOpciones {
        display: flex;
        justify-content:center;
        
    }
    .contenedorGanadores {
        display: flex;
        flex-direction: column;
        width: 30%;
    }
    .contenedorTextarea {
        display: flex;
        justify-content:center;
        margin-top: 5px;
    }
    textarea {
        padding: 2px;
        width: 18em;
        height: 8em;
        font-size: 1.5rem;
        border-radius: 5px;
        box-shadow: inset 0 1px;
        background-color: rgb(255, 255, 255);
    }
    #btn-agregarUsuario, #btn-reset, #btn-resetNombres  {
        width:140px;
        height:40px;
        font-size: 1.1rem;
        color:rgb(85, 61, 85);
        font-weight: bold;
    }
    #ganadores {
        width: 70px;
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
    }
    
    .btnAgregarYBorrar {
        margin-left:-80px;
    }
    .sortear {
        cursor:grab;
        width: 250px;
        margin-left: 95px;
        margin-top: 35px;
        height: 2.5em;
        font-size:1.3rem;
        border-radius: 10px;
        background-color: rgb(250, 236, 236);
        box-shadow: 0px 1px rgb(148, 145, 145);
        color:rgb(85, 61, 85);
        font-weight: bold;
    }
    .sortear:active, button:active {
        background-color:white; 
        transform: translateY(5px);
      }
    .ganador {
        position: sticky;
        margin-top: 16em;
    }
    #listado {
        color:white;
        font-size:1.5rem;
        display: flex;
        flex-wrap:wrap;
        overflow: hidden;
        margin-top: 10px;
    }
    #listado li {
        margin-left: 50px;
        list-style:none;
    
    }
    .borrarNombre {
        border:none;
        background-color:none !important;
        width: auto;
        margin-left: 20px;
        padding:auto;
    }
    /* MODAL INSTAGRAM */
    .modal-dialog {
        width:130%;
        margin-top: 10%;
    }
    .modal-header {
        margin-top: 20px;
        display:flex;
        justify-content:space-between;
    }
    .modal-tittle {
        margin-left: 20%;
    }
    .listaGanadores {
        font-size:2rem;
        margin-top: 5px;
        color:rgb(61, 53, 53);
    }
    
    .comoFunciona {
        margin-top:20px;
        display:flex;
        flex-direction:column;
        align-items:center;
        
    }
    .comoFunciona h1 {
        color: rgb(241, 79, 79);
        font-size:3rem;
        font-weight:bold;
    }
    .comoFunciona ol {
        font-size: 1.6rem;
    }
    .comoFunciona button {
    font-size: 1.3rem;
    }
    
    /* SORTEO NOMBRES */
    
    .contenedorNombres {
        padding-top: 40px;
        height: 81vh;
        background: linear-gradient(90deg,#ED2BA2,#8a2091);
    }
    .contenedorNombres h1 {
        color: white;
        text-align: center;
        font-size: 2.3rem;
        font-weight: bolder;
        margin-bottom: 20px;
    }
    .textareaNombres {
        padding: 2px;
        width: 14em;
        height: 15em;
        font-size: 1.4rem;
        border-radius: 5px;
        box-shadow: inset 0 1px;
        background-color: rgb(255, 255, 255);
    }
    .contenedorAreaYOpcionesNombres {
        display: flex;
        justify-content:center;
        /* margin-left:-550px; */
    }
    .listaGanadoresNombres {
        font-size:2rem;
        margin-top: 5px;
        color:rgb(61, 53, 53);
        text-transform: uppercase;
    }
    .btn-agregarNombreySortear {
        width:240px;
        height:60px;
        font-size: 1.7rem;
        margin: 70px 0 0 40px;
        color:rgb(148, 50, 50);
        background-color: #f8c9d5;
        border-radius:20px;
        font-weight: bold;
    }
    /* SORTEO MONEDA */
    
    
    .tituloYsubMoneda {
        padding:80px 0 0 0;
        align-items:center;
        text-align:center;
    }
    .tituloYsubMoneda h2 {
    font-size:3rem;
    font-weight: bolder;
    color:black;
    }
    .tituloYsubMoneda p {
    color:gray;
    font-weight: 100;
    font-size: 1.2rem;
    }
    
    .cardBox, .cardBox2 {
        display: flex;
        justify-content: center;
        font-size: 1.2em;
        padding: 2% 0 0 1%;
        perspective: 800px;
        transition: all 0.3s ease 0s;
      }
      /* .cardBox:hover .card {
        transform: rotateY(180deg);
      } */
      .card, .card2 {
        display:none;
        color:white;
        cursor: default;
        height: 200px;
        border-radius: 50%;
        transform-style: preserve-3d;
        transition: transform 0.4s ease 0s;
        width: 20%;
        -webkit-animation: giro 1s 1;
        animation: giro 0.3s 10 linear;
      }
      .card .front,
    .card .back, .card2 .front2,
    .card2 .back2 {
      backface-visibility: hidden;
      box-sizing: border-box;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1.8em;
      height: 100%;
      padding: 0.8em;
      position: absolute;
      width: 100%;
    }
    
      .front {
          background-color: red;
          border-radius: 50%;
      }
      .back {
          background-color:rgb(44, 63, 126);
          border-radius: 50%;
      }
      .front2 {
          background-color:rgb(44, 63, 126);
          border-radius: 50%;
        }
        .back2 {
        background-color: red !important;
        border-radius: 50%;
        }  
      .card .back, .card2 .back2  {
        transform: rotateY( 180deg);
      }
      #tirarMoneda:active .card {
        transform: rotateY( 180deg);
      }
      @-webkit-keyframes giro {
        from {
          transform: rotateY( 380deg);
        }
        to {
          transform: rotateY( 180deg);
        }
      }
      
      @keyframes giro {
        from {
          transform: rotateY( 180deg);
        }
        to {
          transform: rotateY( 0deg);
        }
      }
      .contenedorTirarMoneda {
          display:flex;
          justify-content:center
    }
    #tirarMoneda {
        border-radius: 10px;
         position: absolute;
         top:80vh;
          width:170px;
          height:50px;
          background-color: #c48a8a;
          color: rgb(255, 255, 255);
          margin-top:10px;
      }
      #tirarMoneda:active{
          background-color: rgb(129, 77, 77);
      }
}
 











  